<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/pic3.jpg">
        <link rel="stylesheet" href="/css/styles.css">
            </head>
        <body>
            <div class="main-content">
            {{>header}}
            <p>Please contact {{name}}</p>
          </div>      
        </body>
    <footer>{{>footer}}</footer>
</html>